<form method="post" action="/products">
    <div>
        <label>Name</label>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Categories</label>
        <label>Pants</label>
        <input type="checkbox" name="categories" value="pants"/>
        <label>Shorts</label>
        <input type="checkbox" name="categories" value="shorts"/>
        <label>Swimwear</label>
        <input type="checkbox" name="categories" value="swimwear"/>
    </div>
    <div>
        <label>Price</label>
        <input type="number" name="price"/>
    </div>
    <div>
        <input type="submit" value="Create Product"/>
    </div>
</form>